/*
====================
Customer Orders Page
====================
*/

.order-middle {
    overflow-x: auto;
}

.order-middle th,
.order-middle td {
    text-align: left;
}

.customer th {
    min-width: 16rem;
}

.order-middle td {
    border: 1.25px solid var(--very-light-grey);
    font-size: 1.4rem;
}

.order-middle td .left,
.order-middle td .right {
    flex-basis: 50%;
}

.order-middle tbody:before {
    content: "-";
    display: block;
    line-height: 1.6rem;
    color: transparent;
}

/*
=================
Admin Orders Page
=================
*/

.admin th {
    min-width: 11rem;
}

.admin .status-col {
    min-width: 17rem;
}

.orders-col > div {
    display: flex;
}

.orders-col span {
    margin: 0 0.25rem;
}

.status-form {
    padding: 1px 4px;
    border: 2px solid var(--very-light-grey);
}

.status-form p {
    color: var(--dark-grey);
}

select {
    width: 100%;
    font-size: inherit;
    border: none;
    color: var(--dark-grey);
    background: none;
}

.empty-cart img {
    width: 250px;
}
