<div class="cart-container spacing">
    <h3>Your Orders</h3>
    <hr>
    <% if(orders.length) { %>
        <div class="order-middle customer">
            <table>
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(order=>{%>
                        <tr>
                            <td>
                                <a href="/customer/orders/<%=order._id %>">
                                    <%= order._id %>
                                </a>
                            </td>
                            <td>
                                <%= moment(order.createdAt).format(' DD MMM hh:mm A') %>
                            </td>
                            <td>
                                <%=order.status%>
                            </td>
                        </tr>
                        <% })%>
                </tbody>
            </table>
        </div>
        <% } else { %>
            <div class="empty-cart">
                <p>You probably haven't ordered anything</p>
                <a class="btn" href="/cart">Place first order &#8594</a>
            </div>
            <% } %>
</div>